@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap");
.Header {
  text-align: center;
  background-color: blue;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  background-image: url("https://media.istockphoto.com/id/1346119741/vector/vector-background-with-color-abstract-wave-dots.jpg?s=612x612&w=0&k=20&c=7lIA0ZrDzwp6HDrXyvgQLOrmATIy2o4bN8HBHoDH-G4=");
  border-radius: 5px;
}

.material-symbols-outlined {

  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48
}
.searchBar{
 border: solid 1px grey;
  display: flex;
  align-items: center;
  padding: 6px 6px;
  border-radius: 5px;
  /* justify-content: center; */
}
.searchBar input{
  width: 99%;
  border: none;
  outline: none;
}