@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap");
.Header {
  text-align: center;
  background-color: blue;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  background-image: url("https://media.istockphoto.com/id/1346119741/vector/vector-background-with-color-abstract-wave-dots.jpg?s=612x612&w=0&k=20&c=7lIA0ZrDzwp6HDrXyvgQLOrmATIy2o4bN8HBHoDH-G4=");
  border-radius: 5px;
}

.material-symbols-outlined {

  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 1,
  'opsz' 48
}
.searchBar{
 border: solid 1px red;
  display: flex;
  align-items: center;
  padding: 6px 6px;
  border-radius: 5px;
  /* justify-content: center; */
}
.searchBar input{
  width: 99%;
  border: none;
  outline: none;
}
.form-container{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.form-container input{
  width: 25%;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
.header {
  text-align: center;
  margin-bottom: 10px;
  background-color: #2A2F4F;
  color: white;
  border-radius: 3px;
}

table {
  width: 100%;
  margin-top: 1rem;
}

.add-btn {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.table-container {
  margin: 0 auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  font-size: 10px;
  width: 100%;
}

thead tr {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  font-weight: bold;
}

th,
td {
  padding: 12px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

td:first-child,
th:first-child {
  padding-left: 20px;
}

td:last-child,
th:last-child {
  padding-right: 20px;
  text-align: right;
}
.search {
  width: 100%;
}
.search input {
  width: 96.5%;
  margin-bottom: 10px;
}
input {
  padding: 10px 15px;
}
.form-control {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.button{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}